---
- name: Install Wazuh agent on Windows using PowerShell script
  hosts: windows
  gather_facts: yes

  vars:
    wazuh_manager_ip: "192.168.1.132"  # Replace with your Wazuh manager IP

  tasks:
    - name: Copy PowerShell script to Windows host
      win_copy:
        src: agent_install_win.ps1
        dest: C:\Windows\Temp\agent_install_win.ps1

    - name: Run the Wazuh agent installer script with parameters
      win_shell: |
        powershell.exe -ExecutionPolicy Bypass -File C:\Windows\Temp\agent_install_win.ps1 `
          -Manager {{ wazuh_manager_ip }} `
          -AgentName {{ ansible_hostname }}